body {
    background: #100028;
    font-family: "Josefin Sans", sans-serif;
}

.headerContainer {
    justify-content: center;
    display: flex;
}

h1 {
    color: #fff;
    font-size: 3rem;
}

.generatedNumbers {
    margin: 30px;
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.result {
    border: 2px solid #007bff;
    background: #007bff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    color: #fff;
    list-style: none;
    font-size: 60px;
    text-align: center;
    line-height: 200px;
    margin-right: 10px;
}

.btn {
    justify-content: center;
    display: flex;
}

button {
    color: #fff;
    outline: none;
    font-size: 30px;
    font-weight: 700;
    font-family: "Play", sans-serif;
    padding: 14px 32px 12px;
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
    display: inline-block;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    cursor: grab;
}

/* Button animation */
#generateBtn:hover:before {
    height: 100%;
    width: 100%;
}

#generateBtn:hover:after {
    height: 100%;
    width: 100%;
}

#generateBtn::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    border-left: 2px solid #00bfe7;
    border-top: 2px solid #00bfe7;
    content: "";
    z-index: -1;
    -webkit-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    transition: all, 0.7s;
}

#generateBtn::after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    border-right: 2px solid #00bfe7;
    border-bottom: 2px solid #00bfe7;
    content: "";
    z-index: -1;
    -webkit-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    transition: all, 0.7s;
}

@media (max-width: 400px){

        .result {
            height: 50px;
            width: 60px;
            font-size: 20px;
            line-height: 50px;
            margin-right: 10px;
        }

        .numbers {
            padding: 0;
            margin: 0;
        }
}