body {
    background: #100028;
    font-family: "Josefin Sans", sans-serif;
}

.headerContainer {
    justify-content: center;
    display: flex;
}

h1 {
    color: #fff;
    font-size: 3rem;
}

.generatedNumbers {
    margin: 30px;
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.result {
    border: 2px solid #007bff;
    background: #007bff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    color: #fff;
    list-style: none;
    font-size: 60px;
    text-align: center;
    line-height: 200px;
}

.btn {
    justify-content: center;
    display: flex;
}

button {
    color: #fff;
    outline: none;
    font-size: 30px;
    font-weight: 700;
    font-family: "Play", sans-serif;
    padding: 14px 32px 12px;
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
}

@media (min-height: 400px){
        h1 {
            justify-content: center;
            display: flex;
        }

        .result {
            height: 30px;
            width: 30px;
            font-size: 20px;
            line-height: 20px;
        }
}